@import "../assets/styles/variables";

div.pageContainer {
  min-height: 100vh;
  width: $max-width;
  max-width: 90%;

  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.contentContainer {
  display: flex;
  flex-direction: column;
}
