@import "../assets/styles/variables";

nav#mainNavigation {
  margin: 3.5rem 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    text-decoration: none;
    position: relative;
    &.active {
      color: $link-hover-color;
      &::after {
        content: "";
        position: absolute;

        transform: translateX(-50%);

        left: 50%;
        bottom: -0.5rem;

        height: 2px;
        width: 1.5rem;

        background-color: $link-hover-color;
      }
    }
  }

  div.home {
    font-weight: bold;
    margin-right: 5.9375rem;
    svg {
      fill: $strong-text-color;
    }
  }

  div.sections {
    :not(:last-child) {
      margin-right: 3.5em;
    }
  }
}
