@import "../../assets/styles/variables";

div.hero {
  position: relative;

  height: calc(100% - 4rem);
  justify-content: center;
  display: flex;
  overflow: visible;
  background-color: black;

  img {
    flex: 1;
    height: 100%;
    opacity: 65%;
  }

  div.heroDescription {
    position: absolute;
    max-width: 34rem;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 35%;

    color: $inversed-text-color;
    h2 {
      margin-bottom: 0.875rem;
    }
    p {
      max-width: 28rem;
    }
    a.portfolio {
      width: fit-content;
      padding: $button-y-padding $button-x-padding;

      margin-top: 2.5rem;

      display: flex;
      justify-content: center;

      background-color: $button-background-color;

      color: $inversed-text-color;
      &:hover {
        background-color: $button-background-color-hover;
        color: $inversed-text-color;
      }
      svg {
        margin-left: 1.5rem;
      }
      svg g {
        stroke: $inversed-text-color;
      }
    }
  }
}

div.navigation {
  position: absolute;
  display: flex;
  left: -#{$square-button-size};
  bottom: 0;

  div.squareButton {
    width: $square-button-size;
    height: $square-button-size;
    background-color: $accent-button-background-color;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    color: $accent-button-text-color;

    cursor: pointer;
    &.active {
      background-color: $accent-button-background-color-active;
      color: $accent-button-text-color-active;
    }
  }
}
